<launch>
  <node pkg="gps_common" type="utm_odometry_node" name="GPS2UTM" >
  <remap from="/odom" to="/UTM"/>
  </node>
  <node pkg="navigation" type="map_base_tf_node" name="map_base_transform_publisher" />
  <node pkg="tf" type="static_transform_publisher" name="fixed_map" args="0 0 0 0 0 0 world map 200" />
  <node pkg="tf" type="static_transform_publisher" name="fake_odom_tf" args="0 0 0 0 0 0 map odom 200" />
  
  <node pkg="wp_publisher" type="wp_publisher_pub" name="waypoint_publisher" />
  <node pkg="wp_publisher" type="wp_publisher_viz" name="waypoint_viz_and_receiver" />

  <!-- <node pkg="navigation" type="agbot_nav_node" name="navigation_node" />
  <rosparam param="start_navigation">0</rosparam>
  <rosparam param="reset_navigation">0</rosparam> -->
  
  <rosparam>
      waypoint_file_name: "../VTAGBOT2019/waypoints1.txt"
  </rosparam>
  <node pkg="atvsim_control" type="controller_adaptor" name="adaptor" >
    <remap to="/steering_cmd" from="/steering_pos_cmd"/>
    <remap to="/speed_setpoint" from="pedal_cmd"/>
  </node>
  <node pkg="post_gazebo" type="post_gazebo" name="post_gazebo_node" >
    <remap to="/novatel_imu" from="/IMU_rpy"/>
  </node>


  <include file="$(find atvsim_gazebo)/launch/gazebo_world.launch" />


  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find navigation)/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find navigation)/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find navigation)/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find navigation)/global_costmap_params.yaml" command="load" /> 
    <rosparam file="$(find navigation)/base_local_planner_params.yaml" command="load" />
    <!-- LOAD COSTMAP_CONVERTER PARAMETERS HERE -->
    <rosparam file="$(find navigation)/costmap_converter_params.yaml" command="load" />
    <rosparam file="$(find navigation)/sbpl_global_params.yaml" command="load" />

    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <param name="controller_frequency" value="10.0" />
    <param name="SBPLLatticePlanner/primitive_filename" value="$(find navigation)/agbot.mprim" />

    <param name="base_global_planner" value="SBPLLatticePlanner" />

		<param name="planner_frequency" value="0" />
    <param name="planner_patience" value="60.0" />
    

 </node>

  <node pkg="swri_transform_util" type="initialize_origin.py" name="swri_origin" />
  <node pkg="mapviz" type="mapviz" name="mapviz_node" output="screen" respawn="true"/>
  

<node pkg="rviz" type="rviz" name="rviz"
    args="-d $(find atvsim_gazebo)/launch/agbot_rivz.rviz"/>

</launch>
