<launch>
  <node pkg="gps_common" type="utm_odometry_node" name="GPS2UTM" >
  <!-- <remap from="/odom" to="/UTM"/> -->
  </node>

  <node pkg="navigation" type="agbot_nav_node" name="navigation_node" />
  <rosparam param="start_navigation">0</rosparam>
  <rosparam param="reset_navigation">0</rosparam>
  
  <rosparam>
      waypoint_file_name: "../VTAGBOT2019/waypoints1.txt"
  </rosparam>
  <node pkg="atvsim_control" type="controller_adaptor" name="adaptor" >
    <remap to="/steering_cmd" from="/steering_pos_cmd"/>
    <remap to="/speed_setpoint" from="pedal_cmd"/>
  </node>
  <node pkg="post_gazebo" type="post_gazebo" name="post_gazebo_node" >
    <remap to="/novatel_imu" from="/IMU_rpy"/>
  </node>
  <node pkg="tf" type="static_transform_publisher" name="fixed_map" args="0 0 0 0 0 0 /world /map 100" />

  <node pkg="navigation" type="map_base_tf_node" name="map_base_transform_publisher" />

  <include file="$(find atvsim_gazebo)/launch/gazebo_world.launch" />

  <!-- publish static transform between map and world -->
	<!-- map publisher node -->
	<param name="occupancy_rate" value="15" />
	<param name="grid_resolution" value="0.5" />
	<param name="grid_width" value="2000" />
	<param name="grid_height" value="2000" />
	<node pkg="navigation" type="laser_to_occupancy_grid.py" name="map_publisher" output="screen" />

</launch>
